# Copy this file to .env and fill your token
TELEGRAM_BOT_TOKEN=8575461106:AAFXuU_5vWh-hdC2qiMJ5ByPAHriXeskMBQ
ADMIN_ID=8272773663
DEBUG=false
DEFAULT_MESSAGE="欢迎来到七星社区，可以添加客服QQ哦"
BOT_NAME="网页客服"
PROXY_ADDR=http://127.0.0.1:7892
SUPPORT_TG_ID=8272773663|客服右右,8272773663|客服佳佳
ROUTE_CACHE_LIMIT=5000
NOTICE_CHAT_ID=-5138603984
NOTICE_HISTORY_LIMIT=200